.about-us-section {
  margin-top: 32px;

  &__container {
    display: block;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }

  &__content {
    margin-top: 16px;
    max-width: 320px;

    @media screen and (min-width: $bp-tablet) {
      margin-top: 41px;
      max-width: 700px;
    }
  }

  &__title {
    margin-bottom: 24px;
    max-width: 264px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 530px;
      margin-bottom: 40px;
    }
  }

  &__photos {
    position: relative;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 40px;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 1.7;
    }
  }

  &__photo {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      max-width: 335px;
      border-radius: 327px;

      &--ended {
        align-self: end;
      }
    }
  }

  &__star-medium-icon {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      right: 0;
      top: 60px;
      fill: var(--color-brand-light);
      animation-name: spin-and-puls;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }

  &__star-small-icon {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      right: 32px;
      top: 280px;
      fill: var(--color-secondary-light);
      animation-name: spin-and-puls;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }

  &__star-big-icon {
    position: absolute;
    right: 22px;
    fill: var(--color-brand-dark);
    animation-name: spin-and-puls;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @media screen and (min-width: $bp-desktop) {
      top: 360px;
      left: 115px;
    }
  }
}

@keyframes spin-and-puls {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  85% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
